.card {
    background-color: white;

    &--rounded {
        border-radius: 16px;
        background-color: white;
        overflow: hidden;
        margin-top: 40px;

    }
    &__content {
        padding: 25px;
    }
}
