.card--rounded {

    &__box-img {
        height: 200px;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: auto;
    }
}

.box-img {
    height: 550px;
    overflow: hidden;
    margin-bottom: 30px;

    &__img {
        width: 100%;
        height: auto;
        // margin-top: 10px;
    }
}
