.label {
    background: #877FD9;
    color: #fff;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    min-width: 150px;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        margin-left: 10px;
    }
}