.card {
    background-color: white;
    padding: 25px;

    &--rounded {
        border-radius: 16px;
    }
}

.box-button {
    width: 60%;
    // text-transform: none;
}

.date {
    width: 40%;
}

.foo {
    display: flex;
    align-items: center;
    margin-top: 15px;
}