.button {
    min-width: 185px;
    border-radius: 20px;
    border: none;
    background-color: $grey-color;
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(43,44,55,0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    // text-align: center;

    &--primary {
        color: white;
        background-color: $blue-color;
    }
}

.badge {
    max-width: 125px;
    background-color: $grey-color;
    color: rgba(43,44,55,0.66);
    text-transform: uppercase;
    border-radius: 28px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--primary {
        background-color: rgba(0,164,95,0.15);
        color: $green-color;
    }
}