.button {
    color: rgba(43,44,55,0.66);
    background-color: $grey-color;
    min-width: 120px;
    padding: 5px;
    font-weight: 800;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    &--primary {
        color: white;
        background-color: $blue-color;
    }

    &__badge {
        color: rgba(43,44,55,0.66);
        background-color: $grey-color;
        max-width: 125px;
        padding: 5px 10px;
        margin-top: -15px;
        margin-left: 10px;
        border-radius: 28px;
        border: none;
        font-size: 12px; 
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
    
        &--primary {
            background-color: rgba(0,164,95,0.15);
            color: $green-color;
        }
    
        &--blue {
            background-color: lighten($blue-color-dark, 40%);
            color: $blue-color-dark;
        }

        &--text {
            margin-right: 10px;
        }
    }
}


#select-box {
    background-color: $black-color;
    text-transform: uppercase;
    padding: 5px;
}